# postgreSQL
POSTGRES_PASSWORD=12345678
POSTGRES_USER=test
POSTGRES_DB=app
POSTGRES_TIMEOUT=30s
POSTGRES_HOST=localhost

# APP
HTTP_ADDR=127.0.0.1:5050
HTTP_SHUTDOWN_TIMEOUT=10s
ALLOWED_ORIGINS=http://127.0.0.1:5050,null