# postgreSQL
POSTGRES_PASSWORD=12345678
POSTGRES_USER=test
POSTGRES_DB=app
POSTGRES_TIMEOUT=30s
POSTGRES_HOST=localhost

# APP
HTTP_ADDR=127.0.0.1:5050
HTTP_SHUTDOWN_TIMEOUT=10s
HTTP_ALLOWED_ORIGINS=http://127.0.0.1:5051,null

# LOGGER
LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=logs
LOGGER_FORMAT=json

# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_TTL=

# LEADERBOARD
LEADERBOARD_TIMEZONE=Europe/Moscow
LEADERBOARD_SNAPSHOT_INTERVAL=1m
