# postgreSQL
POSTGRES_PASSWORD=
POSTGRES_USER=test
POSTGRES_DB=app
POSTGRES_TIMEOUT=30s
POSTGRES_HOST=localhost

# APP
HTTP_ADDR=127.0.0.1:5050
HTTP_SHUTDOWN_TIMEOUT=10s
HTTP_ALLOWED_ORIGINS=http://127.0.0.1:5050,null

# LOGGER
LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=logs
LOGGER_FORMAT=text

# LEADERBOARD
LEADERBOARD_TIMEZONE=Europe/Moscow
LEADERBOARD_SNAPSHOT_INTERVAL=1h
